---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'

import logos from '../images/deploy-logos.png';
import logosSmall from '../images/deploy-logos-small.png';
---

<Layout title="About Astro">
  <section class="page-content">
    <div class="container">
      <h2>About Astro</h2>
      <p>
love is undying,of that I feel certain.I mean deep,abiding,cherishing love.The love that gives protection even as you,my guardian angel,gave me protection long after you had gone-and continue to give this very day...
A love beyond Death-a love that makes Life alive!
      </p>

      <p>
        love is undying,of that I feel certain.I mean deep,abiding,cherishing love.The love that gives protection even as you,my guardian angel,gave me protection long after you had gone-and continue to give this very day...
A love beyond Death-a love that makes Life alive!
      </p>

      <Card dark={true}>
        <h3>Use the tools you already love</h3>
        <p>
         love is undying,of that I feel certain.I mean deep,abiding,cherishing love.The love that gives protection even as you,my guardian angel,gave me protection long after you had gone-and continue to give this very day...
A love beyond Death-a love that makes Life alive!
        </p>
      </Card>
      
      <h3>Deploy to anywhere, even the edge</h3>
      <img class="logos" src={logos} alt="" />
      <img class="logos-small" src={logosSmall} alt="" />
      <p>
    love is undying,of that I feel certain.I mean deep,abiding,cherishing love.The love that gives protection even as you,my guardian angel,gave me protection long after you had gone-and continue to give this very day...
A love beyond Death-a love that makes Life alive! 
</p>

  
        <h3>Join our Community</h3>
        <p>
          Join us in the Astro Discord to share with and get help from an
          active, friendly community!
        </p>

        <ul>
          <li>💬 Say hi in our #introduce-yourself channel!</li>
          <li>
            💬 Ask our Support Squad a question in our #support-threads
            channel!
          </li>
          <li>
            💬 Share what you've been working on in our #showcase channel!
          </li>
        </ul>
   
    </div>
  </section>
</Layout>
