---
import Card from './Card.astro'

const featuresData = [
  {title: 'Famous Streets', body: ' Name these famous streets, roads, trails, etc....'},
  {title: ' Similiar Flags #2', body: ' Can you guess the countries that use these similiar-looking flags?'},
  {title: 'Random Asian countries on a Map', body: '15 Random countries have been shaded on the map of Asia. Can you name them all??'}
];
---

<section class="features">
  <div class="container">
   {featuresData.map(feature => (
      <Card>
        <h3>{feature.title}</h3>
        <p>{feature.body}</p>
      </Card>
    ))}
  </div>
</section>

<style>
  .features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
    margin: 30px auto;
  }

  @media (max-width: 500px) {
  .features .container {
    grid-template-columns: 1fr;
  }
}

</style>
